<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title></title>
  </head>
  <body>
    <form>
      <label>item 1</label>
      <input type="number" value="-" />
      <input type="number" value="+" />
    </form>
    <form>
      <label>item 1</label>
      <input type="submit" value="-" />
      <input type="submit" value="+" />
    </form>
    <form>
      <label>item 1</label>
      <input type="submit" value="-" />
      <input type="submit" value="+" />
    </form>
  </body>
</html>
